{% extends 'layouts/base.html' %} {% load static %} {% block content %}

<!--Тема вопроса.-->
<div class="row">
	<div class="col-2"><h5>Title</h5></div>
	<div class="col-9">
		<textarea
			class="form-control mb-2"
			style="max-width: 800px; resize: none"
			id="userAnswer"
			rows="3"
			placeholder="Как поступить в Технопарк?"
		></textarea>
	</div>
</div>

<!--Текст вопроса.-->
<div class="row">
	<div class="col-2"><h5>Text</h5></div>
	<div class="col-9">
		<textarea
			class="form-control mb-2"
			style="max-width: 800px; resize: none"
			id="userText"
			rows="7"
			placeholder="Уже целый год мечтаю о поступлении, не знаю с чего начать подготовку. Посоветуйте литературу или курсы."
		></textarea>
	</div>
</div>

<!--Теги-->
<div class="row">
	<div class="col-2"><h5>Tags</h5></div>
	<div class="col-9">
		<input
			class="form-control mb-2"
			style="max-width: 800px"
			id="userTags"
			rows="1"
			placeholder="VK.Education, Technopark"
		/>

		<button
			class="btn btn-primary mt-3"
			type="button"
			style="border-right-width: 30px; border-left-width: 30px"
		>
			Ask!
		</button>
	</div>
</div>

{% endblock content %}