{% extends 'layouts/base.html' %} {% load static %} {% block content %}

<div class="d-flex gap-3 align-items-center">
	<h4>New Questions</h4>
	<h5><a href="">Hot Questions</a></h5>
</div>

{% for question in questions %}

{% include 'components/question-item.html' %} 

{% endfor %}

<nav class="container-fluid" aria-label="Пример навигации по страницам">
	<ul class="pagination">
		<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item"><a class="page-link">...</a></li>
		<li class="page-item"><a class="page-link" href="#">53</a></li>
	</ul>
</nav>

{% endblock content %}
