{% extends 'layouts/base_not_login.html' %} {% load static %} {% block content %}
<!--Login.-->

<div class="d-flex align-items-center mb-3">
	<h2>Log In</h2>
</div>

<h6 style="color: brown">Sorry, wrong password</h6>
<div class="row">
	<div class="col-2"><h5>Login</h5></div>
	<div class="col-9">
		<input
			class="form-control mb-2"
			style="max-width: 300px"
			id="userLogin"
			placeholder="Enter your login here"
		/>
	</div>
</div>
<!--Password-->
<div class="row">
	<div class="col-2"><h5>Password</h5></div>
	<div class="col-9">
		<input
			class="form-control mb-2"
			style="max-width: 300px"
			id="userLogin"
			placeholder="*********"
		/>
		<!--Button-->
		<a
			class="btn btn-primary mt-3 mb-3"
			type="button"
			style="width: auto"
			href="{% url 'index' %}"
		>
			Log in!
		</a>
		<p>
			<a href="{% url 'register' %}">create new account</a>
		</p>
	</div>
</div>

{% endblock content %}