{% extends 'layouts/base.html' %} {% load static %} {% block content %}

<!--Развёрнутый вопрос.-->
{% include 'components/question-item.html' %}

<!--Ответы-->
{% for answer in answers %}
{% include 'components/answer.html' %}
{% endfor %}

<!-- Пагинация -->
{% include 'components/pagination.html'%}

<!--Свой ответ-->
<textarea
	class="form-control mb-2"
	style="max-width: 800px; resize: none"
	id="userAnswer"
	rows="4"
	placeholder="Enter your answer here"
></textarea>
<button class="btn btn-primary mb-4" type="button">Answer</button>

{% endblock content %}
