<nav class="paginate-container mb-3" aria-label="Pagination">
    <div class="pagination">

        <nav class="paginate-container" aria-label="Pagination">
            <div class="pagination col">

                <!-- Предыдущая страница -->
                {% if pages.has_other_pages %}
                    {% if pages.has_previous %}
                        <li class="page-item"><a class="page-link" 
                            href="?page={{ pages.previous_page_number }}">
                            {{pages.previous_page_number}}
                        </a></li>
                    {%endif%}

                    <!-- Текущая страница -->
                    <li class="page-item"><a class="page-link" 
                        style="color:#808080">
                        {{pages.number}}
                    </a></li>

                    <!-- Следующая страница -->
                    {% if pages.has_next %}
                        {% if pages.paginator.num_pages > pages.next_page_number %}                        
                            <li class="page-item"><a class="page-link" 
                                href="?page={{ pages.next_page_number }}">
                                {{pages.next_page_number}}
                            </a></li>
                            <li class="page-item"><a class="page-link">
                                ...
                            </a></li>
                        {% endif %}
                        <!-- Последняя страница -->
                        <li class="page-item"><a class="page-link" 
                            href="?page={{ pages.paginator.num_pages }}">
                            {{pages.paginator.num_pages}}
                        </a></li>
                    {%endif%}
                {%endif%}
            </div>
        </nav>
    </div>
</nav>