<!-- <nav class="container-fluid" aria-label="Пример навигации по страницам">
	<ul class="pagination">
        {% for page in pages %}
            {% if page.in_number %}
                {% if page.is_active %}
                	<li class="page-item active"><a class="page-link" href='{% url "page" page.number %}'>{{ page.title }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href='{% url "page" page.number %}'>{{ page.title }}</a></li>
                {% endif %}
            {% else %}
        		<li class="page-item disabled"><a class="page-link" href="#">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item"><a class="page-link">...</a></li>
		<li class="page-item"><a class="page-link" href="#">53</a></li>
	</ul>
</nav> -->

<nav class="paginate-container" aria-label="Pagination">
    <div class="pagination">

        <nav class="paginate-container" aria-label="Pagination">
            <div class="pagination col">
            {% for page in pages %}
                {% if page.has_other_pages %}
                    {% if page.has_previous %}
                        <li><a href="?page={{ pages.previous_page_number }}" class=" button big previous">
                        <button class="btn btn-info text-white"> <h3> {{page.previous_page_number}}</h3> </button>
                        </a></li>
                    {% else %}
                        <li><a href="?page=1" class="button big previous">
                        <button class="btn btn-info text-white"> <h3> 1 </h3> </button>
                        </a></li>
                    {%endif%}
                    
                    {% if page.has_next %}
                        <li><a href="?page={{ pages.next_page_number }}" class="button big next">
                        <button class="btn btn-info text-white"> <h3> {{page.next_page_number}}</h3> </button>
                        </a></li>
                    {%else%}
                        <li><a href="?page={{ pages.paginator.num_pages }}" class="button big next">
                        <button class="btn btn-info text-white"> <h3> {{page.paginator.num_pages}}</h3> </button>
                        </a></li>
                    {%endif%}
                {%endif%}
            {% endfor %}
            </div>
        </nav>
    </div>
</nav>